h1{
	text-align: center;
}

.markdown {
  height: 200px;
  width: 300px;
  border: 5px solid purple;
  border-radius: 25px;
  margin-left: 400px;
  text-align: center;
}

#preview-div {
  padding: 10px;
  width: 75%;
}

form{
	text-align: center;
	margin: 0% 0% 5% 0%
}