<h1>Widget Homepage</h1>

<form>
  <input id = "user_input" type = "text" name = "user_input">
</form>

<div class = "markdown">
  <div id = "translation">
   <!--  <p>"Andrew"</p> -->
  </div>
</div>

<style>
.markdown {
  color: user.color;
  height: 200px;
  width: 300px;
  border: 5px solid purple;
  border-radius: 25px;
  margin-left: 400px;
}

#translation {
  padding: 10px;
  width: 75%;
}
</style>
